@model ERPSolutions_EF.ViewModels.PerformViewModel

@{
    ViewBag.Title = "Исполнение заявок";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4 class="text-primary">Заявки на паузе</h4>
@if (Model.HoldTickets.Count() > 0)
{
    @Html.Partial("_PerformTicketList", Model.HoldTickets)
}
else
{
    <h5 class="text-success">Заявок на паузе нет</h5>
}

<h4 class="text-primary">Заявки на исполнении</h4>
@if (Model.PerformTickets.Count() > 0)
{
    @Html.Partial("_PerformTicketList", Model.PerformTickets)
}
else
{
    <h5 class="text-success">Заявок на исполнении нет</h5>
}

<h4 class="text-primary">Закрытые заявки</h4>
@if (Model.ClosedTickets.Count() > 0)
{
    @Html.Partial("_DefaultTicketList", Model.ClosedTickets)
}
else
{
    <h5 class="text-success">Закрытых заявок за последний месяц нет</h5>
}

<script type="text/javascript" src="@Url.Content("~/Scripts/active-icons.js")"></script>